body {
    background-attachment: fixed;
    background-image: url("background-texture.png");
    color: #222222;
    text-shadow: 0px 2px 3px #555555;
    font: 70px Tahoma, Helvecta, Arial, Sans-Serif;
}

h1 {
    text-align: center;
}

form {
    border-style: ridge;
    border-width: 25px;
    background-image: url('motherboard-txtr.jpg');
}

#addTopic,
#search {
    float: right;
}
